* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#9198e5, #3467f3);
  display: flex;
  align-items: center;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: gainsboro;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
}

textarea {
  border: 3px solid black;
  width: 90%;
  margin: 20px auto;
  outline: none;
  height: 200px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
}